<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgioto.photogallery">

    <!-- flickr.com/services/api
        Key: 196e83b2dd4a8902c960580c3d20dd9e
        Secret: 0e2f49ecdeb8ed0e -->

    <permission android:name="com.bignerdranch.android.photogallery.PRIVATE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.bignerdranch.android.photogallery.PRIVATE" />

    <application
        android:name=".PhotoGalleryApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_remove_from_queue_24"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoGallery">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationReceiver"
            android:permission="com.dgioto.photogallery.PRIVATE"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action
                    android:name="com.dgioto.photogallery.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>